.circle-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(90deg) scaleX(-1);
}

#circle-path {
    fill: none;
    stroke: rgb(255, 213, 0);
    stroke-width: 4;
}

#background-circle {
    fill: rgba(40, 39, 37, 0.9);
}

#background-circle-path {
    fill: none;
    stroke: rgb(66, 65, 63);
    stroke-width: 4;
}

#particles-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.timer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}